# SQLite
SQLite 是為了不需要管理即可操作程序的輕量化的SQL數據庫引擎

* 不需要一個單獨的服務器進程或操作的系統（無服務器的）。
* SQLite 不需要配置，這意味著不需要安裝或管理。
* 一個完整的SQLite 數據庫是存儲在一個單一的跨平台的磁盤文件。
* SQLite 是非常小的，是輕量級的，完全配置時小於400KiB，省略可選功能配置時小於250KiB。
* SQLite 是自給自足的，這意味著不需要任何外部的依賴。
* SQLite 事務是完全兼容ACID 的，允許從多個進程或線程安全訪問。
* SQLite 支持SQL92（SQL2）標準的大多數查詢語言的功能。
* SQLite 使用ANSI-C 編寫的，並提供了簡單和易於使用的API。
* SQLite 可在UNIX（Linux, Mac OS-X, Android, iOS）和Windows（Win32, WinCE, WinRT）中運行。

In [ ]:
sqlite3 可以與Python sqlite3 模塊集成

要使用sqlite3模塊，必須首先創建一個連接對象，表示數據庫中，然後可以選擇創建遊標對象，
這將幫助在執行的所有SQL語句。

Python sqlite3 模塊API
以下是重要的sqlite3模塊程序，它可以足夠Python程序SQLite數據庫操作工作。
如果要尋找一個更複雜的應用程序，那麼你可以看看成的Python sqlite3 模塊的官方文檔。

### 連接到數據庫
Python代碼顯示了如何連接到一個現有的數據庫。如果數據庫不存在，那麼它就會被創建，終於將返回一個數據庫對象。

In [6]:
import sqlite3

conn = sqlite3.connect('test.db')

In [ ]:
在這裡，您還可以提供特殊的名字 :memory: 在RAM中創建一個數據庫的數據庫名稱。
現在，讓我們運行上面的程序在當前目錄中創建數據庫test.db。按要求，你可以改變路徑。
上麵的代碼在sqlite.py文件並執行它，如下圖所示。如果數據庫創建成功，那麼它會給以下消息：

In [ ]:
$chmod +x sqlite.py
$./sqlite.py
Open database successfully

### CREATE 操作
以下Python程序將使用以前創建的數據庫中創建一個表：

In [11]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\11004076\Documents\SQL Scripts\sqlite\test1.db')
print("Opened database successfully");

#創建表COMPANYtest.db
conn.execute('''CREATE TABLE COMPANY  
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
print("Table created successfully");

conn.close()

Opened database successfully
Table created successfully

### INSERT 操作
一次只能執行一個語句(一個；)
(\)是Python中換行繼續字元
跑第二次會Error是因為有設定PRIMARY KEY，不能重複值

In [23]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\11004076\Documents\SQL Scripts\sqlite\test1.db')
print("Opened database successfully");


conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");


conn.commit()
print("Records created successfully");
conn.close()

Opened database successfully

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [35]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\11004076\Documents\SQL Scripts\sqlite\test1.db')
print("Opened database successfully");

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])

print("Operation done successfully");
conn.close()

Opened database successfully
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0
ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
Operation done successfully

### UPDATE 操作
Python代碼顯示如何，我們可以使用UPDATE語句來更新任何記錄，然後獲取並顯示更新的記錄，從COMPANY 表：

In [39]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\11004076\Documents\SQL Scripts\sqlite\test1.db')
print("Opened database successfully");

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID=1")  #ID=1的SALARY改25000
conn.commit
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])

print("Operation done successfully");
conn.close()

Opened database successfully
Total number of rows updated : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0
ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
Operation done successfully

### DELETE 操作
Python代碼顯示了如何我們可以使用DELETE語句刪除任何記錄，然後獲取並顯示剩餘的記錄COMPANY 表：

In [41]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\11004076\Documents\SQL Scripts\sqlite\test1.db')
print("Opened database successfully");

conn.execute("DELETE from COMPANY where ID=2;")  #刪除ID=2的資料
conn.commit
print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])

print("Operation done successfully");
conn.close()

Opened database successfully
Total number of rows deleted : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
Operation done successfully

# Excel/CSV匯入SQLite

先將Excel轉成CSV，因為SQLite只有匯入csv選項，但直接匯入會碰到中文變亂碼問題，

### 中文亂碼原因
由於sqlite數據庫使用的是UTF-8編碼方式，而傳入的字符串是ASCII編碼或Unicode編碼，導致字符串格式錯誤。

### 解決方案
先將匯入前的資料轉換成UTF-8編碼

步驟：
1. 先檢查CSV檔案有無逗號，如果有要先取代掉，不取代掉順序會亂掉(因為多了逗號分隔)
2. 開啟一個記事本(.text檔)，將csv檔案拖移拉入記事本
3. 另存新檔，重點是右下角的編碼要改為UTF-8
4. 就能直接用sqlite匯入csv了

# 爬蟲存入SQLite範例
這裡會延續前一小節的ezprice爬蟲的內容. 有時候, 你可能不喜歡CSV檔案, 而比較喜歡把資料存到DB裡面, 這時候就可以考慮採用以下這隻爬蟲的做法. 這隻爬蟲會把前一小節產生的csv檔案當作輸入, 並把當中的資料讀出來並且儲存到資料庫裡面. 這邊使用SQLite作為範例資料庫.

In [ ]:
from ch5.domain.item import Item
import sqlite3
import csv


DB_NAME = 'db.sqlite'
DROP_TABLE_COMMAND = 'DROP TABLE %s'
CHECK_TABLE_COMMAND = 'SELECT name FROM sqlite_master WHERE type=\'table\' AND name=\'%s\';'
FETCH_ALL_RECORD_COMMAND = 'SELECT * FROM %s;'


def connect_db(db_file):
    return sqlite3.connect(db_file)


def execute_command(connection, sql_cmd):
    cursor = connection.cursor()
    cursor.execute(sql_cmd)
    connection.commit()


def table_exists(connection, table_name):
    cursor = connection.cursor()
    cursor.execute(CHECK_TABLE_COMMAND % table_name)
    result = cursor.fetchone()
    if result is None:
        return False
    else:
        return True


def create_table(connection, table_name):
    create_table_cmd = 'CREATE TABLE %s (id INTEGER PRIMARY KEY AUTOINCREMENT, item TEXT, price INTEGER, shop TEXT)' % table_name
    if not table_exists(connection, table_name):
        print('Table \'%s\' does not exist, creating...' % table_name)
        execute_command(connection, create_table_cmd)
        print('Table \'%s\' created.' % table_name)
    else:
        execute_command(connection, DROP_TABLE_COMMAND % table_name)
        print('Table \'%s\' already exists, initializing...' % table_name)
        execute_command(connection, create_table_cmd)
        print('Table \'%s\' created.' % table_name)


def insert_data(connection, table_name, item):
    insert_record_cmd = 'INSERT INTO %s (item, price, shop) VALUES ("%s", %d, "%s")' % (table_name, item.name, item.price, item.shop)
    execute_command(connection, insert_record_cmd)


def update_data(connection, table_name):
    update_record_cmd = 'UPDATE %s SET shop = "udn買東西2" where shop="udn買東西"' % table_name
    execute_command(connection, update_record_cmd)


def insert_bulk_record(connection, table_name, input_file):
    with open(input_file, 'r', encoding='UTF-8') as file:
        reader = csv.DictReader(file)
        for row in reader:
            insert_record_cmd = 'INSERT INTO %s (item, price, shop) VALUES ("%s", "%s", "%s")' % (table_name, row['Item'], row['Price'], row['Store'])
            execute_command(connection, insert_record_cmd)


def fetch_all_record_from_db(connection, sql_cmd):
    cursor = connection.cursor()
    cursor.execute(sql_cmd)
    rows = cursor.fetchall()
    for row in rows:
        print(row)


def main():
    connection = connect_db(DB_NAME)
    table_name = 'record'
    input_file = 'ezprice.csv'
    item = Item('嚕嚕抱枕', 999, '嚕嚕小朋友')
    try:
        create_table(connection, table_name)
        insert_data(connection, table_name, item)
        insert_bulk_record(connection, table_name, input_file)
        update_data(connection, table_name)
        fetch_all_record_from_db(connection, FETCH_ALL_RECORD_COMMAND % table_name)
        connection.close()
    except Exception as exception:
        print('Encounter some exceptions while executing DB tasks, close the connection...')
        print('Exception message: ' + exception.__str__())
        connection.close()

if __name__ == '__main__':
    main()