In [2]:
import pandas as pd
# 讀入 csv 文字檔
df = pd.read_csv("https://storage.googleapis.com/learn_pd_like_tidyverse/gapminder.csv")
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

# DataFrame 的操作(.shape、.columns、.index、.info()、.describe()、df.corr())
pandas 有一些好用的屬性與方法可以快速暸解一個 DataFrame 的外觀與內容：<br>
* df.shape：這個 DataFrame 有幾row有幾column<br>
* df.columns：這個 DataFrame 的變數資訊<br>
* df.index：這個 DataFrame 的列索引資訊<br>
* df.info()：關於 DataFrame 的詳細資訊<br>
* df.describe()：關於 DataFrame 各數值變數的描述統計
* df.corr():得到特徵之間的相關係數矩陣

In [3]:
df.shape

(1704, 6)

In [4]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [9]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [3]:
df.corr()

               year   lifeExp       pop  gdpPercap
year       1.000000  0.435611  0.082308   0.227318
lifeExp    0.435611  1.000000  0.064955   0.583706
pop        0.082308  0.064955  1.000000  -0.025600
gdpPercap  0.227318  0.583706 -0.025600   1.000000