In [62]:
import pandas as pd
null = 'null'
dict = [ ["id", "visit_date", "people", "rk"], [2, "2017-01-02", 109, 1], [3, "2017-01-03", 150, 1], [5, "2017-01-05", 145, 2], [6, "2017-01-06", 1455, 2], [7, "2017-01-07", 199, 2], [8, "2017-01-09", 188, 2]]


df = pd.DataFrame(dict)
df

    0           1       2   3
0  id  visit_date  people  rk
1   2  2017-01-02     109   1
2   3  2017-01-03     150   1
3   5  2017-01-05     145   2
4   6  2017-01-06    1455   2
5   7  2017-01-07     199   2
6   8  2017-01-09     188   2

In [17]:
def solveMeFirst(a,b):
	# Hint: Type return a+b below

    num1 = int(input())
    num2 = int(input())
    s = sum(num1+num2)
    return s

solveMeFirst(num1, num2)

NameError: name 'num1' is not defined

In [21]:
class Solution:
    def romanToInt(self, s: str) -> int:
        d = {'I':1, 'IV':3, 'V':5, 'IX':8, 'X':10, 'XL':30, 'L':50, 'XC':80, 'C':100, 'CD':300, 'D':500, 'CM':800, 'M':1000}
        return sum(d.get(s[max(i-1, 0):i+1], d[n]) for i, n in enumerate(s))

In [23]:
Solution.romanToInt(9)

TypeError: romanToInt() missing 1 required positional argument: 's'

In [ ]:
{"headers": ["Day", "Cancellation Rate"], "values": [["2013-10-01", 0.33], ["2013-10-02", 0.00], ["2013-10-03", 0.50]]}
{"headers": ["Day", "Cancellation Rate"], "values": [["2013-10-01", 0.33], ["2013-10-02", 0.00], ["2013-10-03", 0.50]]}

In [35]:
import pandas as pd

dict = [["Department", "Employee", "Salary"], ["IT", "Max", 90000], ["IT", "Joe", 85000], ["IT", "Randy", 85000], ["IT", "Will", 70000], ["Sales", "Henry", 80000], ["Sales", "Sam", 60000]]
df = pd.DataFrame(dict)
df

            0         1       2
0  Department  Employee  Salary
1          IT       Max   90000
2          IT       Joe   85000
3          IT     Randy   85000
4          IT      Will   70000
5       Sales     Henry   80000
6       Sales       Sam   60000

In [4]:
import pandas as pd

dict = {"headers": ["Id", "Name", "Salary", "DepartmentId", "rank"], "values": [[3, "Sam", 60000, 2, 1], [5, "Janet", 69000, 1, 2], [7, "Will", 70000, 1, 3], [2, "Henry", 80000, 2, 4], [1, "Joe", 85000, 1, 5], [6, "Randy", 85000, 1, 5], [4, "Max", 90000, 1, 6]]}


my_df = pd.DataFrame.from_dict(dict, orient='index')
my_df

AttributeError: 'dict' object has no attribute 'T'

In [8]:
import pandas as pd

dict = {"headers": ["Id", "Name", "Salary", "DepartmentId", "rank"], "values": [[3, "Sam", 60000, 2, 1], [5, "Janet", 69000, 1, 2], [7, "Will", 70000, 1, 3], [2, "Henry", 80000, 2, 4], [1, "Joe", 85000, 1, 5], [6, "Randy", 85000, 1, 5], [4, "Max", 90000, 1, 6]]}


my_df = pd.DataFrame.from_dict(dict, orient='index')
my_df

{'headers': ['Id', 'Name', 'Salary', 'DepartmentId', 'rank'],
 'values': [[3, 'Sam', 60000, 2, 1],
  [5, 'Janet', 69000, 1, 2],
  [7, 'Will', 70000, 1, 3],
  [2, 'Henry', 80000, 2, 4],
  [1, 'Joe', 85000, 1, 5],
  [6, 'Randy', 85000, 1, 5],
  [4, 'Max', 90000, 1, 6]]}