<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#数据查看" data-toc-modified-id="数据查看-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>数据查看</a></span><ul class="toc-item"><li><span><a href="#载入数据" data-toc-modified-id="载入数据-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>载入数据</a></span></li><li><span><a href="#查看数据信息" data-toc-modified-id="查看数据信息-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>查看数据信息</a></span></li></ul></li><li><span><a href="#常见特征工程操作" data-toc-modified-id="常见特征工程操作-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>常见特征工程操作</a></span><ul class="toc-item"><li><span><a href="#缺失值处理" data-toc-modified-id="缺失值处理-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>缺失值处理</a></span><ul class="toc-item"><li><span><a href="#pandas-的-fillna-函数" data-toc-modified-id="pandas-的-fillna-函数-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>pandas 的 fillna 函数</a></span></li><li><span><a href="#sklearn-的-Imputer" data-toc-modified-id="sklearn-的-Imputer-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>sklearn 的 Imputer</a></span></li></ul></li><li><span><a href="#幅度变换（无量纲化）" data-toc-modified-id="幅度变换（无量纲化）-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>幅度变换（无量纲化）</a></span><ul class="toc-item"><li><span><a href="#对数变换" data-toc-modified-id="对数变换-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>对数变换</a></span></li><li><span><a href="#Min-Max-缩放" data-toc-modified-id="Min-Max-缩放-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Min-Max 缩放</a></span></li><li><span><a href="#标准化" data-toc-modified-id="标准化-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>标准化</a></span></li></ul></li><li><span><a href="#统计值" data-toc-modified-id="统计值-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>统计值</a></span></li><li><span><a href="#四则运算" data-toc-modified-id="四则运算-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>四则运算</a></span></li><li><span><a href="#高次特征与交叉特征" data-toc-modified-id="高次特征与交叉特征-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>高次特征与交叉特征</a></span></li><li><span><a href="#离散化/分箱/分桶" data-toc-modified-id="离散化/分箱/分桶-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>离散化/分箱/分桶</a></span></li><li><span><a href="#OneHot-enconding/独热向量编码" data-toc-modified-id="OneHot-enconding/独热向量编码-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>OneHot enconding/独热向量编码</a></span></li><li><span><a href="#时间数据处理" data-toc-modified-id="时间数据处理-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>时间数据处理</a></span><ul class="toc-item"><li><span><a href="#日期处理" data-toc-modified-id="日期处理-2.8.1"><span class="toc-item-num">2.8.1&nbsp;&nbsp;</span>日期处理</a></span></li><li><span><a href="#取出关键时间信息" data-toc-modified-id="取出关键时间信息-2.8.2"><span class="toc-item-num">2.8.2&nbsp;&nbsp;</span>取出关键时间信息</a></span></li></ul></li><li><span><a href="#文本数据处理" data-toc-modified-id="文本数据处理-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>文本数据处理</a></span><ul class="toc-item"><li><span><a href="#词袋模型" data-toc-modified-id="词袋模型-2.9.1"><span class="toc-item-num">2.9.1&nbsp;&nbsp;</span>词袋模型</a></span></li><li><span><a href="#TF-IDF" data-toc-modified-id="TF-IDF-2.9.2"><span class="toc-item-num">2.9.2&nbsp;&nbsp;</span>TF-IDF</a></span></li></ul></li></ul></li><li><span><a href="#特征选择" data-toc-modified-id="特征选择-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>特征选择</a></span><ul class="toc-item"><li><span><a href="#过滤式/Filter" data-toc-modified-id="过滤式/Filter-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>过滤式/Filter</a></span></li><li><span><a href="#包裹型/wrapper" data-toc-modified-id="包裹型/wrapper-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>包裹型/wrapper</a></span></li><li><span><a href="#嵌入式/Embedded" data-toc-modified-id="嵌入式/Embedded-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>嵌入式/Embedded</a></span></li></ul></li></ul></div>

# 特征工程

数据和特征决定了机器学习的上限，而模型和算法只是逼近这个上限而已。

- 特征：数据中抽取出来的对结果预测有用的信息
- 特征工程：使用专业背景知识和技巧处理数据，是的特征能在机器学习算法上发挥更好的作用的过程。

In [1]:
# 导入工具库
from __future__ import print_function, division
import numpy as np
import pandas as pd

## 数据查看

### 载入数据

In [2]:
# 载入 Titanic 数据
df_train = pd.read_csv('../data/Titanic/train.csv')

### 查看数据信息

- head()
- info()
- describe()

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_train.shape

(891, 12)

- info() 可以看到数据类型和数据缺失情况

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

- describe() 可以看到数据分布和统计情况

In [10]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 常见特征工程操作

### 缺失值处理
- pandas fillna
- sklearn Imputer

#### pandas 的 fillna 函数

In [11]:
# 查看函数使用方法
help(pd.DataFrame.fillna)

Help on function fillna in module pandas.core.frame:

fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
    Fill NA/NaN values using the specified method.

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame). (values not
        in the dict/Series/DataFrame will not be filled). This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use NEXT valid observation to fill gap
    axis : {0 or 'index', 1 or 'columns'}
    inplace : boolean, default False
        If True, fill in place. Note: this will modify any
        other views on this object, (e.g. a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.
    downcast : dict, default is None
        a dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible)

    Returns
    -------
    filled : DataFrame

    See Also
    --------
    interpolate : Fill NaN values using interpolation.
    reindex, asfreq

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
    ...                    [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, 5],
    ...                    [np.nan, 3, np.nan, 4]],
    ...                    columns=list('ABCD'))
    >>> df
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5
    3  NaN  3.0 NaN  4

    Replace all NaN elements with 0s.

    >>> df.fillna(0)
        A   B   C   D
    0   0.0 2.0 0.0 0
    1   3.0 4.0 0.0 1
    2   0.0 0.0 0.0 5
    3   0.0 3.0 0.0 4

    We can also propagate non-null values forward or backward.

    >>> df.fillna(method='ffill')
        A   B   C   D
    0   NaN 2.0 NaN 0
    1   3.0 4.0 NaN 1
    2   3.0 4.0 NaN 5
    3   3.0 3.0 NaN 4

    Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
    2, and 3 respectively.

    >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
    >>> df.fillna(value=values)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 2.0 1
    2   0.0 1.0 2.0 5
    3   0.0 3.0 2.0 4

    Only replace the first NaN element.

    >>> df.fillna(value=values, limit=1)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 NaN 1
    2   NaN 1.0 NaN 5
    3   NaN 3.0 NaN 4

In [12]:
df_train['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [13]:
df_train['Age'].fillna(value=df_train['Age'].mean(), inplace=True)

In [14]:
df_train['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.699118
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.699118
18     31.000000
19     29.699118
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.699118
27     19.000000
28     29.699118
29     29.699118
         ...
861    21.000000
862    48.000000
863    29.699118
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.699118
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

#### sklearn 的 Imputer

In [15]:
from sklearn.preprocessing import Imputer

In [16]:
help(Imputer)

Help on class Imputer in module sklearn.preprocessing.imputation:

class Imputer(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin)
 |  Imputer(*args, **kwargs)
 |
 |  Imputation transformer for completing missing values.
 |
 |  Read more in the :ref:`User Guide <imputation>`.
 |
 |  Parameters
 |  ----------
 |  missing_values : integer or "NaN", optional (default="NaN")
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed. For missing values encoded as np.nan,
 |      use the string value "NaN".
 |
 |  strategy : string, optional (default="mean")
 |      The imputation strategy.
 |
 |      - If "mean", then replace missing values using the mean along
 |        the axis.
 |      - If "median", then replace missing values using the median along
 |        the axis.
 |      - If "most_frequent", then replace missing using the most frequent
 |        value along the axis.
 |
 |  axis : integer, optional (default=0)
 |      The axis along which to impute.
 |
 |      - If `axis=0`, then impute along columns.
 |      - If `axis=1`, then impute along rows.
 |
 |  verbose : integer, optional (default=0)
 |      Controls the verbosity of the imputer.
 |
 |  copy : boolean, optional (default=True)
 |      If True, a copy of X will be created. If False, imputation will
 |      be done in-place whenever possible. Note that, in the following cases,
 |      a new copy will always be made, even if `copy=False`:
 |
 |      - If X is not an array of floating values;
 |      - If X is sparse and `missing_values=0`;
 |      - If `axis=0` and X is encoded as a CSR matrix;
 |      - If `axis=1` and X is encoded as a CSC matrix.
 |
 |  Attributes
 |  ----------
 |  statistics_ : array of shape (n_features,)
 |      The imputation fill value for each feature if axis == 0.
 |
 |  Notes
 |  -----
 |  - When ``axis=0``, columns which only contained missing values at `fit`
 |    are discarded upon `transform`.
 |  - When ``axis=1``, an exception is raised if there are rows for which it is
 |    not possible to fill in the missing values (e.g., because they only
 |    contain missing values).
 |
 |  Method resolution order:
 |      Imputer
 |      sklearn.base.BaseEstimator
 |      sklearn.base.TransformerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(*args, **kwargs)
 |      DEPRECATED: Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          Input data, where ``n_samples`` is the number of samples and
 |          ``n_features`` is the number of features.
 |
 |      Returns
 |      -------
 |      self : Imputer
 |
 |  transform(self, X)
 |      Impute all missing values in X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape = [n_samples, n_features]
 |          The input data to complete.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : numpy array of shape [n_samples, n_features]
 |          Training set.
 |
 |      y : numpy array of shape [n_samples]
 |          Target values.
 |
 |      Returns
 |      -------
 |      X_new : numpy array of shape [n_samples, n_features_new]
 |          Transformed array.

In [17]:
# strategy, 填充值策略，默认 mean
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [26]:
type(df_train['Age'])

pandas.core.series.Series

In [27]:
type(df_train[['Age']])

pandas.core.frame.DataFrame

In [28]:
# 注意参数需要二维矩阵
age = imp.fit_transform(df_train[['Age']].values)

In [32]:
type(age)

numpy.ndarray

In [34]:
df_train.loc[:,'Age'] = age

In [36]:
df_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,NaN,C

In [37]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

### 幅度变换（无量纲化）

无量纲化使不同规格的数据转换到同一规格。常见的无量纲化方法有标准化和区间缩放法。标准化的前提是特征值服从正态分布，标准化后，其转换成标准正态分布。区间缩放法利用了边界值信息，将特征的取值区间缩放到某个特点的范围，例如[0, 1]等。

#### 对数变换

In [38]:
log_age = df_train['Age'].apply(lambda x : np.log(x))

In [39]:
df_train['log_age'] = log_age

In [40]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,log_age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,3.091042
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3.637586
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3.258097
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3.555348
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,3.555348

#### Min-Max 缩放

In [41]:
from sklearn.preprocessing import MinMaxScaler

mm_scaler = MinMaxScaler()
fare_trans = mm_scaler.fit_transform(df_train[['Fare']])

#### 标准化

In [43]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()
fare_std_trans = std_scaler.fit_transform(df_train[['Fare']])

### 统计值

- max,min
- quantile: 分位数

In [47]:
# 最大最小值
max_age = df_train['Age'].max()
min_age = df_train['Age'].min()
print(max_age)
print(min_age)

80.0
0.42

In [48]:
# 分位数
age_quarter_1 = df_train['Age'].quantile(0.25)
age_quarter_3 = df_train['Age'].quantile(0.75)
print(age_quarter_1)
print(age_quarter_3)

22.0
35.0

### 四则运算

In [49]:
# 计算家庭成员数量作为特征
df_train['family_size'] = df_train['SibSp'] + df_train['Parch'] + 1

In [50]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,log_age,family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,3.091042,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3.637586,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3.258097,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3.555348,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,3.555348,1

### 高次特征与交叉特征

[a, b], the degree-2 polynomial features are [1, a, b, a^2, ab, b^2].

- preprocessing.PolynomialFeatures

In [51]:
from sklearn.preprocessing import PolynomialFeatures

In [52]:
help(PolynomialFeatures)

Help on class PolynomialFeatures in module sklearn.preprocessing.data:

class PolynomialFeatures(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin)
 |  PolynomialFeatures(degree=2, interaction_only=False, include_bias=True)
 |
 |  Generate polynomial and interaction features.
 |
 |  Generate a new feature matrix consisting of all polynomial combinations
 |  of the features with degree less than or equal to the specified degree.
 |  For example, if an input sample is two dimensional and of the form
 |  [a, b], the degree-2 polynomial features are [1, a, b, a^2, ab, b^2].
 |
 |  Parameters
 |  ----------
 |  degree : integer
 |      The degree of the polynomial features. Default = 2.
 |
 |  interaction_only : boolean, default = False
 |      If true, only interaction features are produced: features that are
 |      products of at most ``degree`` *distinct* input features (so not
 |      ``x[1] ** 2``, ``x[0] * x[2] ** 3``, etc.).
 |
 |  include_bias : boolean
 |      If True (default), then include a bias column, the feature in which
 |      all polynomial powers are zero (i.e. a column of ones - acts as an
 |      intercept term in a linear model).
 |
 |  Examples
 |  --------
 |  >>> X = np.arange(6).reshape(3, 2)
 |  >>> X
 |  array([[0, 1],
 |         [2, 3],
 |         [4, 5]])
 |  >>> poly = PolynomialFeatures(2)
 |  >>> poly.fit_transform(X)
 |  array([[ 1.,  0.,  1.,  0.,  0.,  1.],
 |         [ 1.,  2.,  3.,  4.,  6.,  9.],
 |         [ 1.,  4.,  5., 16., 20., 25.]])
 |  >>> poly = PolynomialFeatures(interaction_only=True)
 |  >>> poly.fit_transform(X)
 |  array([[ 1.,  0.,  1.,  0.],
 |         [ 1.,  2.,  3.,  6.],
 |         [ 1.,  4.,  5., 20.]])
 |
 |  Attributes
 |  ----------
 |  powers_ : array, shape (n_output_features, n_input_features)
 |      powers_[i, j] is the exponent of the jth input in the ith output.
 |
 |  n_input_features_ : int
 |      The total number of input features.
 |
 |  n_output_features_ : int
 |      The total number of polynomial output features. The number of output
 |      features is computed by iterating over all suitably sized combinations
 |      of input features.
 |
 |  Notes
 |  -----
 |  Be aware that the number of features in the output array scales
 |  polynomially in the number of features of the input array, and
 |  exponentially in the degree. High degrees can cause overfitting.
 |
 |  See :ref:`examples/linear_model/plot_polynomial_interpolation.py
 |  <sphx_glr_auto_examples_linear_model_plot_polynomial_interpolation.py>`
 |
 |  Method resolution order:
 |      PolynomialFeatures
 |      sklearn.base.BaseEstimator
 |      sklearn.base.TransformerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, degree=2, interaction_only=False, include_bias=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Compute number of output features.
 |
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape (n_samples, n_features)
 |          The data.
 |
 |      Returns
 |      -------
 |      self : instance
 |
 |  get_feature_names(self, input_features=None)
 |      Return feature names for output features
 |
 |      Parameters
 |      ----------
 |      input_features : list of string, length n_features, optional
 |          String names for input features if available. By default,
 |          "x0", "x1", ... "xn_features" is used.
 |
 |      Returns
 |      -------
 |      output_feature_names : list of string, length n_output_features
 |
 |  transform(self, X)
 |      Transform data to polynomial features
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape [n_samples, n_features]
 |          The data to transform, row by row.
 |          Sparse input should preferably be in CSC format.
 |
 |      Returns
 |      -------
 |      XP : np.ndarray or CSC sparse matrix, shape [n_samples, NP]
 |          The matrix of features, where NP is the number of polynomial
 |          features generated from the combination of inputs.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  powers_
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : numpy array of shape [n_samples, n_features]
 |          Training set.
 |
 |      y : numpy array of shape [n_samples]
 |          Target values.
 |
 |      Returns
 |      -------
 |      X_new : numpy array of shape [n_samples, n_features_new]
 |          Transformed array.

In [53]:
poly = PolynomialFeatures(degree=2)

In [54]:
df_train[['SibSp','Parch']].head()

   SibSp  Parch
0      1      0
1      1      0
2      0      0
3      1      0
4      0      0

In [55]:
poly_fea = poly.fit_transform(df_train[['SibSp','Parch']])

In [56]:
poly_fea

array([[1., 1., 0., 1., 0., 0.],
       [1., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       ...,
       [1., 1., 2., 1., 2., 4.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.]])

### 离散化/分箱/分桶

- pandas cut: 等距离分箱
- pandas qcut：等频分箱

In [57]:
# 等距切分
df_train.loc[:, 'fare_cut'] = pd.cut(df_train['Fare'], 5)

In [61]:
df_train['fare_cut'].unique()

[(-0.512, 102.466], (204.932, 307.398], (102.466, 204.932], (409.863, 512.329]]
Categories (4, interval[float64]): [(-0.512, 102.466] < (102.466, 204.932] < (204.932, 307.398] < (409.863, 512.329]]

In [63]:
# 等频切分
df_train['fare_qcut'] = pd.qcut(df_train['Fare'],5)

In [64]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,log_age,family_size,fare_cut,fare_qcut
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,3.091042,2,"(-0.512, 102.466]","(-0.001, 7.854]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3.637586,2,"(-0.512, 102.466]","(39.688, 512.329]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3.258097,1,"(-0.512, 102.466]","(7.854, 10.5]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3.555348,2,"(-0.512, 102.466]","(39.688, 512.329]"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,3.555348,1,"(-0.512, 102.466]","(7.854, 10.5]"

### OneHot enconding/独热向量编码

可以消除类别特征的数值大小含义。

- pandas get_dummies
- sklearn OneHotEncoder()

In [69]:
embarked_oht = pd.get_dummies(df_train[['Embarked']])

In [70]:
embarked_oht.head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [71]:
from sklearn.preprocessing import OneHotEncoder

In [74]:
oht = OneHotEncoder()

In [84]:
# 数据需要是 integer 类型
Pclass_oht = oht.fit_transform(df_train[['Pclass']])

C:\Users\xukaihui\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

### 时间数据处理

#### 日期处理

- pandas to_datetime

In [99]:
# 读取汽车销量数据
car_sales = pd.read_csv('../data/car/car_data.csv')

In [100]:
car_sales.head()

       date_t     cnt
0  2012-12-31     NaN
1  2013-01-01     NaN
2  2013-01-02    68.0
3  2013-01-03    36.0
4  2013-01-04  5565.0

In [101]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 2 columns):
date_t    1512 non-null object
cnt       1032 non-null float64
dtypes: float64(1), object(1)
memory usage: 23.7+ KB

In [102]:
car_sales.describe()

               cnt
count  1032.000000
mean   1760.124031
std    1153.164214
min      12.000000
25%    1178.750000
50%    1774.000000
75%    2277.750000
max    7226.000000

In [103]:
car_sales['date'] = pd.to_datetime(car_sales['date_t'])

In [104]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 3 columns):
date_t    1512 non-null object
cnt       1032 non-null float64
date      1512 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 35.5+ KB

In [105]:
car_sales.head()

       date_t     cnt       date
0  2012-12-31     NaN 2012-12-31
1  2013-01-01     NaN 2013-01-01
2  2013-01-02    68.0 2013-01-02
3  2013-01-03    36.0 2013-01-03
4  2013-01-04  5565.0 2013-01-04

#### 取出关键时间信息

* .dt.month
* .dt.dayofweek
* .dt.dayofyear
* ...

In [106]:
# 取月份
car_sales['month'] = car_sales['date'].dt.month

In [107]:
car_sales.head()

       date_t     cnt       date  month
0  2012-12-31     NaN 2012-12-31     12
1  2013-01-01     NaN 2013-01-01      1
2  2013-01-02    68.0 2013-01-02      1
3  2013-01-03    36.0 2013-01-03      1
4  2013-01-04  5565.0 2013-01-04      1

In [113]:
# 取几号
car_sales['day'] = car_sales['date'].dt.day

In [114]:
# 一年当中第几天
car_sales['doy'] = car_sales['date'].dt.dayofyear

In [115]:
car_sales['dow'] = car_sales['date'].dt.dayofweek

In [118]:
# 是否周末
car_sales.loc[:,'is_weekend'] = car_sales['dow'].apply(lambda x: 1 if (x==0 or x==6) else 0)

In [119]:
car_sales.head()

       date_t     cnt       date  month  day  doy  dow  is_weekend
0  2012-12-31     NaN 2012-12-31     12   31  366    0           1
1  2013-01-01     NaN 2013-01-01      1    1    1    1           0
2  2013-01-02    68.0 2013-01-02      1    2    2    2           0
3  2013-01-03    36.0 2013-01-03      1    3    3    3           0
4  2013-01-04  5565.0 2013-01-04      1    4    4    4           0

### 文本数据处理

#### 词袋模型

- CountVectorizer

In [120]:
from sklearn.feature_extraction.text import CountVectorizer

In [121]:
vectorizer = CountVectorizer()

In [122]:
corpus = [
    'This is a very good class',
    'students are very very very good',
    'This is the third sentence',
    'Is this the last doc'
]

In [123]:
X = vectorizer.fit_transform(corpus)

In [124]:
X

<4x12 sparse matrix of type '<class 'numpy.int64'>'
	with 19 stored elements in Compressed Sparse Row format>

In [126]:
vectorizer.get_feature_names()

['are',
 'class',
 'doc',
 'good',
 'is',
 'last',
 'sentence',
 'students',
 'the',
 'third',
 'this',
 'very']

In [127]:
X.toarray()

array([[0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1],
       [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 3],
       [0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0],
       [0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0]], dtype=int64)

In [128]:
# 多种单词组合
vec = CountVectorizer(ngram_range=(1,3))

In [129]:
X_ngram = vec.fit_transform(corpus)

In [130]:
vec.get_feature_names()

['are',
 'are very',
 'are very very',
 'class',
 'doc',
 'good',
 'good class',
 'is',
 'is the',
 'is the third',
 'is this',
 'is this the',
 'is very',
 'is very good',
 'last',
 'last doc',
 'sentence',
 'students',
 'students are',
 'students are very',
 'the',
 'the last',
 'the last doc',
 'the third',
 'the third sentence',
 'third',
 'third sentence',
 'this',
 'this is',
 'this is the',
 'this is very',
 'this the',
 'this the last',
 'very',
 'very good',
 'very good class',
 'very very',
 'very very good',
 'very very very']

In [131]:
X_ngram.toarray()

array([[0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0],
       [1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 1, 0, 2, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]], dtype=int64)

#### TF-IDF

- TfidfVectorizer

In [132]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [135]:
tfidf_vec = TfidfVectorizer()

In [136]:
tfidf_X = tfidf_vec.fit_transform(corpus)

In [137]:
tfidf_vec.get_feature_names()

['are',
 'class',
 'doc',
 'good',
 'is',
 'last',
 'sentence',
 'students',
 'the',
 'third',
 'this',
 'very']

In [138]:
tfidf_X.toarray()

array([[0.        , 0.57184829, 0.        , 0.45085176, 0.36500336,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.36500336, 0.45085176],
       [0.3488765 , 0.        , 0.        , 0.27505824, 0.        ,
        0.        , 0.        , 0.3488765 , 0.        , 0.        ,
        0.        , 0.82517473],
       [0.        , 0.        , 0.        , 0.        , 0.34432086,
        0.        , 0.53944516, 0.        , 0.42530476, 0.53944516,
        0.34432086, 0.        ],
       [0.        , 0.        , 0.53944516, 0.        , 0.34432086,
        0.53944516, 0.        , 0.        , 0.42530476, 0.        ,
        0.34432086, 0.        ]])

## 特征选择

### 过滤式/Filter

- SelectKBest

In [141]:
from sklearn.feature_selection import SelectKBest
from sklearn.datasets import load_iris

In [142]:
iris = load_iris()

In [143]:
X, y = iris.data, iris.target

In [145]:
X.shape

(150, 4)

In [144]:
X_new = SelectKBest(k=2).fit_transform(X,y)

In [146]:
X_new.shape

(150, 2)

### 包裹型/wrapper
- RFE

In [148]:
from sklearn.feature_selection import RFE

In [149]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [150]:
rfe = RFE(estimator=rf,n_features_to_select=2)

In [151]:
X_rfe = rfe.fit_transform(X,y)

C:\Users\xukaihui\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\xukaihui\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\xukaihui\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [152]:
X_rfe.shape

(150, 2)

In [1]:
def get_selected_feature_result(X_train, y_train, X_test, model ,n_features):
    """
    获取特征选择后的训练和测试数据
    :param X_train:
    :param y_train:
    :param X_test:
    :return:
    """
    feature_se = RFECV(model, cv=3, scoring='neg_mean_squared_error', verbose=2, min_features_to_select=n_features)
    feature_se.fit(X_train, y_train)
    feature_rank = pd.Series(feature_se.ranking_, index=X_train.columns.values)
    print(feature_rank.sort_values(ascending=False))

    new_X_train = feature_se.transform(X_train)
    new_X_test = feature_se.transform(X_test)
    return new_X_train, new_X_test

### 嵌入式/Embedded
- SelectFromModel

In [153]:
from sklearn.feature_selection import SelectFromModel

In [154]:
from sklearn.svm import LinearSVC

In [165]:
lsvc = LinearSVC(C=0.01,penalty="l1",dual=False).fit(X,y)

In [166]:
model = SelectFromModel(lsvc,prefit=True)

In [168]:
X_emd = model.transform(X)

In [169]:
X_emd.shape

(150, 3)