In [1]:
import pandas as pd

In [2]:
# 資料路徑
DATASET_PATH  = 'E:/git/3rd-ML100Days/D101-103/'

In [3]:
NASNetLarge = pd.read_csv(DATASET_PATH+'NASNetLarge-pre-12-24.csv')

In [4]:
NASNetLarge.head()

,id,daisys,dandelions,roses,sunflowers,tulips
0,0028624c49b3e0610ff9f1d111f5d532,0.001325,1.130563e-05,9.983783e-01,1.584273e-05,0.000270
1,002c30700185b7971369258b438070d5,0.000001,2.693699e-08,4.099620e-08,9.263110e-08,0.999998
2,00852f4f666acecd0c0d140365b42efd,0.000007,3.967508e-06,9.996108e-01,1.684739e-06,0.000377
3,00c08828fce04e360c732cac01edad9e,0.000093,1.016766e-07,4.369829e-06,4.492535e-05,0.999857
4,00d366e7877b6a78b104b57d67b60e6b,0.007823,1.017901e-02,1.239580e-03,3.386749e-02,0.946890

In [7]:
print (NASNetLarge['daisys'])

0       1.324761e-03
1       1.494962e-06
2       6.627631e-06
3       9.346197e-05
4       7.823443e-03
            ...
1995    3.032600e-08
1996    1.745922e-05
1997    9.478146e-01
1998    1.166906e-02
1999    4.609772e-04
Name: daisys, Length: 2000, dtype: float64

In [7]:
model_2 = pd.read_csv(DATASET_PATH+'Xception_model_12_25-1_pre.csv')

In [8]:
model_2.head()

,id,flower_class,daisys,dandelions,roses,sunflowers,tulips
0,0028624c49b3e0610ff9f1d111f5d532,2,2.394070e-35,5.026096e-29,1.000000e+00,9.040489e-23,1.136384e-19
1,002c30700185b7971369258b438070d5,4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
2,00852f4f666acecd0c0d140365b42efd,2,1.486434e-15,8.501844e-17,9.911346e-01,3.862377e-11,8.865295e-03
3,00c08828fce04e360c732cac01edad9e,4,1.068493e-17,9.584993e-11,6.188249e-20,2.400493e-17,1.000000e+00
4,00d366e7877b6a78b104b57d67b60e6b,4,8.008352e-25,6.130677e-11,6.454307e-27,3.718305e-20,1.000000e+00

In [9]:
df_all = pd.merge(NASNetLarge, model_2, how='inner', on='id')

In [10]:
df_all.head()

,id,daisys_x,dandelions_x,roses_x,sunflowers_x,tulips_x,flower_class,daisys_y,dandelions_y,roses_y,sunflowers_y,tulips_y
0,0028624c49b3e0610ff9f1d111f5d532,0.001325,1.130563e-05,9.983783e-01,1.584273e-05,0.000270,2,2.394070e-35,5.026096e-29,1.000000e+00,9.040489e-23,1.136384e-19
1,002c30700185b7971369258b438070d5,0.000001,2.693699e-08,4.099620e-08,9.263110e-08,0.999998,4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
2,00852f4f666acecd0c0d140365b42efd,0.000007,3.967508e-06,9.996108e-01,1.684739e-06,0.000377,2,1.486434e-15,8.501844e-17,9.911346e-01,3.862377e-11,8.865295e-03
3,00c08828fce04e360c732cac01edad9e,0.000093,1.016766e-07,4.369829e-06,4.492535e-05,0.999857,4,1.068493e-17,9.584993e-11,6.188249e-20,2.400493e-17,1.000000e+00
4,00d366e7877b6a78b104b57d67b60e6b,0.007823,1.017901e-02,1.239580e-03,3.386749e-02,0.946890,4,8.008352e-25,6.130677e-11,6.454307e-27,3.718305e-20,1.000000e+00

In [11]:
# print (df_all['daisys_x']*0.9+df_all['daisys_y']*0.1)
#print (df_all[['id', 'daisys_x']])
int_a = 0.8

int_b = 1-int_a


df_new = pd.DataFrame()
df_new['id']=df_all['id']
df_new['daisys'] = df_all['daisys_x']*int_a+df_all['daisys_y']*int_b
df_new['dandelions'] = df_all['dandelions_x']*int_a+df_all['dandelions_y']*int_b
df_new['roses'] = df_all['roses_x']*int_a+df_all['roses_y']*int_b
df_new['sunflowers'] = df_all['sunflowers_x']*int_a+df_all['sunflowers_y']*int_b
df_new['tulips'] = df_all['tulips_x']*int_a+df_all['tulips_y']*int_b

In [16]:
NEW_CVS_NAME = 'n8x2_M-12-25.csv'

df_new.set_index('id')

ids =[]
rf_pred =[]
for index, row in df_new.iterrows():
    a = row[['daisys','dandelions','roses','sunflowers','tulips']].as_matrix()
    result = a.argmax()
#     print (row['id'])
    ids.append(row['id'])
    rf_pred.append(result)
    
sub = pd.DataFrame({'id': ids, 'flower_class': rf_pred})
sub.to_csv(NEW_CVS_NAME, index=False)

d:\Anaconda3\envs\tensorflow-gpu-3.7\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [17]:
 sub.groupby("flower_class").size()

flower_class
0    368
1    469
2    357
3    346
4    460
dtype: int64

In [18]:
n8x2 = pd.read_csv(NEW_CVS_NAME)

In [19]:
n8x2.groupby("flower_class").size()

flower_class
0    368
1    469
2    357
3    346
4    460
dtype: int64

In [20]:
ids =[]
rf_pred =[]
for index, row in NASNetLarge.iterrows():
    a = row[['daisys','dandelions','roses','sunflowers','tulips']].as_matrix()
    result = a.argmax()
#     print (row['id'])
    ids.append(row['id'])
    rf_pred.append(result)
    
sub_nas = pd.DataFrame({'id': ids, 'flower_class': rf_pred})

d:\Anaconda3\envs\tensorflow-gpu-3.7\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [21]:
 sub_nas.groupby("flower_class").size()

flower_class
0    370
1    473
2    351
3    345
4    461
dtype: int64