In [1]:
import pandas as pd

In [5]:
# 資料路徑
DATASET_PATH  = 'E:/git/3rd-ML100Days/D101-103/'

# NEW_CVS_NAME = 'marge-12-30-1'
# var_w = [1.5 , 2 , 1 , 4 , 1 , 0.5 ]


sub.groupby("flower_class").size() 
#0.948

flower_class
0    368
1    466
2    370
3    342
4    454
dtype: int64

In [9]:
NEW_CVS_NAME = 'marge-12-30-2'
var_w = [0 , 2 , 1 , 4 , 2 , 1]
sub.groupby("flower_class").size() 
#0.948

flower_class
0    369
1    463
2    371
3    346
4    451
dtype: int64

In [14]:
NEW_CVS_NAME = 'marge-12-30-3'
var_w = [2 , 2 , 1 , 4 , 0 , 1]
sub.groupby("flower_class").size() 

# 0    367
# 1    468
# 2    373
# 3    341
# 4    451
#0.947

flower_class
0    365
1    467
2    375
3    344
4    449
dtype: int64

In [21]:
NEW_CVS_NAME = 'marge-12-30-4'
var_w = [0 , 1 , 1 , 7 , 1 , 0]
sub.groupby("flower_class").size() 
#0.932

flower_class
0    362
1    451
2    369
3    364
4    454
dtype: int64

In [27]:
NEW_CVS_NAME = 'marge-12-30-5'
var_w = [1 , 1 , 1 , 4 , 2 , 1]
sub.groupby("flower_class").size() 
#0.951

flower_class
0    364
1    465
2    369
3    346
4    456
dtype: int64

In [31]:
NEW_CVS_NAME = 'marge-12-30-6'
var_w = [1 , 1.5 , 1 , 4 , 1.5 , 1]
sub.groupby("flower_class").size()

flower_class
0    365
1    464
2    370
3    347
4    454
dtype: int64

In [36]:
NEW_CVS_NAME = 'marge-12-30-7'
var_w = [1 , 1.5 , 1.5 , 3.5 , 1.5 , 1]
sub.groupby("flower_class").size()

flower_class
0    365
1    465
2    372
3    344
4    454
dtype: int64

In [41]:
NEW_CVS_NAME = 'marge-12-30-8'
var_w = [1 , 1.5 , 1.5 , 3.0 , 1.5 , 1.5]
sub.groupby("flower_class").size()

flower_class
0    364
1    468
2    374
3    345
4    449
dtype: int64

In [46]:
NEW_CVS_NAME = 'marge-12-30-9'
var_w = [1 , 1.5 , 1.5 , 3.5 , 1.0 , 1.5]
sub.groupby("flower_class").size()

flower_class
0    364
1    465
2    374
3    348
4    449
dtype: int64

In [57]:
NEW_CVS_NAME = 'marge-12-30-10'
var_w = [1.2 , 1.2 , 1.2 , 3 , 2.2 , 1.2]
sub.groupby("flower_class").size()

flower_class
0    364
1    466
2    368
3    344
4    458
dtype: int64

In [55]:
ccc=0
for c in var_w:
    ccc=ccc+c
print(ccc)

10.0

In [56]:
model_1=pd.read_csv(DATASET_PATH+'NASNetLarge-pre-12-24.csv')
model_1 = model_1.sort_values(by = 'id',ascending=True)
model_1.head()
model_2 = pd.read_csv(DATASET_PATH+'Xception_model_12_25-1_pre.csv')
model_2 = model_2.sort_values(by = 'id',ascending=True)
model_2.head()
model_3 = pd.read_csv(DATASET_PATH+'DenseNet201_model_12_26-1-val_acc_0.92_pre.csv')
model_3 = model_3.sort_values(by = 'id',ascending=True)
model_3.head()
model_4 = pd.read_csv(DATASET_PATH+'InceptionResNetV2_model_12_26-1checkpoint-16e-val_acc_0.96_pre.csv')
model_4 = model_4.sort_values(by = 'id',ascending=True)
model_4.head()
model_5 = pd.read_csv(DATASET_PATH+'NASNetLarge_model_12_27-1_pre.csv')
model_5 = model_5.sort_values(by = 'id',ascending=True)
model_5.head()
model_6 = pd.read_csv(DATASET_PATH+'ResNet50_model_12_26-1checkpoint-15e-val_acc_0.90_pre.csv')
model_6 = model_6.sort_values(by = 'id',ascending=True)




df_new = pd.DataFrame()
var_models = [model_1,model_2,model_3,model_4,model_5,model_6]
df_new['id']=model_1['id']
df_new['daisys'] = 0
df_new['dandelions'] = 0
df_new['roses'] = 0
df_new['sunflowers'] =0
df_new['tulips'] = 0


for idx,tmp_model in enumerate(var_models):
    df_new['daisys'] = df_new['daisys'] + tmp_model['daisys'] * var_w[idx]
    df_new['dandelions'] = df_new['dandelions'] + tmp_model['dandelions'] * var_w[idx]
    df_new['roses'] = df_new['roses'] + tmp_model['roses'] * var_w[idx]
    df_new['sunflowers'] = df_new['sunflowers'] + tmp_model['sunflowers'] * var_w[idx]
    df_new['tulips'] = df_new['tulips'] + tmp_model['tulips'] * var_w[idx]

df_new.head()


df_new.set_index('id')

ids =[]
rf_pred =[]
for index, row in df_new.iterrows():
    a = row[['daisys','dandelions','roses','sunflowers','tulips']].as_matrix()
    result = a.argmax()
#     print (row['id'])
    ids.append(row['id'])
    rf_pred.append(result)
    
sub = pd.DataFrame({'id': ids, 'flower_class': rf_pred})
sub.groupby("flower_class").size()

d:\Anaconda3\envs\tensorflow-gpu-3.7\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

flower_class
0    364
1    466
2    368
3    344
4    458
dtype: int64

In [58]:
sub.to_csv(NEW_CVS_NAME, index=False)