In [1]:
import pandas as pd

In [11]:
# 資料路徑
DATASET_PATH  = 'E:/git/3rd-ML100Days/D101-103/'

NEW_CVS_NAME = 'n6-x2-den2_M-12-26.csv'

In [4]:
NASNetLarge = pd.read_csv(DATASET_PATH+'NASNetLarge-pre-12-24.csv')

In [5]:
model_2 = pd.read_csv(DATASET_PATH+'Xception_model_12_25-1_pre.csv')

In [6]:
df_all = pd.merge(NASNetLarge, model_2, how='inner', on='id')

In [7]:
model_3 = pd.read_csv(DATASET_PATH+'DenseNet201_model_12_26-1-val_acc_0.92_pre.csv')

In [8]:
df_all = pd.merge(df_all, model_3, how='inner', on='id')

In [9]:
df_all.head()

,id,daisys_x,dandelions_x,roses_x,sunflowers_x,tulips_x,flower_class_x,daisys_y,dandelions_y,roses_y,sunflowers_y,tulips_y,flower_class_y,daisys,dandelions,roses,sunflowers,tulips
0,0028624c49b3e0610ff9f1d111f5d532,0.001325,1.130563e-05,9.983783e-01,1.584273e-05,0.000270,2,2.394070e-35,5.026096e-29,1.000000e+00,9.040489e-23,1.136384e-19,2,0.000415,0.000238,0.969440,0.001104,0.028802
1,002c30700185b7971369258b438070d5,0.000001,2.693699e-08,4.099620e-08,9.263110e-08,0.999998,4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4,0.024561,0.023262,0.048566,0.035288,0.868322
2,00852f4f666acecd0c0d140365b42efd,0.000007,3.967508e-06,9.996108e-01,1.684739e-06,0.000377,2,1.486434e-15,8.501844e-17,9.911346e-01,3.862377e-11,8.865295e-03,2,0.017711,0.017448,0.713537,0.136253,0.115052
3,00c08828fce04e360c732cac01edad9e,0.000093,1.016766e-07,4.369829e-06,4.492535e-05,0.999857,4,1.068493e-17,9.584993e-11,6.188249e-20,2.400493e-17,1.000000e+00,4,0.002657,0.005842,0.027737,0.009952,0.953811
4,00d366e7877b6a78b104b57d67b60e6b,0.007823,1.017901e-02,1.239580e-03,3.386749e-02,0.946890,4,8.008352e-25,6.130677e-11,6.454307e-27,3.718305e-20,1.000000e+00,4,0.195128,0.079638,0.216632,0.073441,0.435161

In [10]:
# print (df_all['daisys_x']*0.9+df_all['daisys_y']*0.1)
#print (df_all[['id', 'daisys_x']])
int_a = 0.6

int_b = 0.2

int_c = 1-int_a-int_b


df_new = pd.DataFrame()
# df_new['id']=df_all['id']
# df_new['daisys'] = df_all['daisys_x']*int_a+df_all['daisys_y']*int_b
# df_new['dandelions'] = df_all['dandelions_x']*int_a+df_all['dandelions_y']*int_b
# df_new['roses'] = df_all['roses_x']*int_a+df_all['roses_y']*int_b
# df_new['sunflowers'] = df_all['sunflowers_x']*int_a+df_all['sunflowers_y']*int_b
# df_new['tulips'] = df_all['tulips_x']*int_a+df_all['tulips_y']*int_b

df_new['id']=df_all['id']
df_new['daisys'] = df_all['daisys_x']*int_a+df_all['daisys_y']*int_b+df_all['daisys']*int_c
df_new['dandelions'] = df_all['dandelions_x']*int_a+df_all['dandelions_y']*int_b+df_all['dandelions']*int_c
df_new['roses'] = df_all['roses_x']*int_a+df_all['roses_y']*int_b+df_all['roses']*int_c
df_new['sunflowers'] = df_all['sunflowers_x']*int_a+df_all['sunflowers_y']*int_b+df_all['sunflowers']*int_c
df_new['tulips'] = df_all['tulips_x']*int_a+df_all['tulips_y']*int_b+df_all['tulips']*int_c

In [12]:

df_new.set_index('id')

ids =[]
rf_pred =[]
for index, row in df_new.iterrows():
    a = row[['daisys','dandelions','roses','sunflowers','tulips']].as_matrix()
    result = a.argmax()
#     print (row['id'])
    ids.append(row['id'])
    rf_pred.append(result)
    
sub = pd.DataFrame({'id': ids, 'flower_class': rf_pred})
sub.to_csv(NEW_CVS_NAME, index=False)

d:\Anaconda3\envs\tensorflow-gpu-3.7\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [13]:
 sub.groupby("flower_class").size()

flower_class
0    367
1    465
2    362
3    347
4    459
dtype: int64

In [19]:
m_new = pd.read_csv(NEW_CVS_NAME)

In [20]:
m_new.groupby("flower_class").size()

flower_class
0    364
1    478
2    371
3    346
4    441
dtype: int64

In [20]:
ids =[]
rf_pred =[]
for index, row in NASNetLarge.iterrows():
    a = row[['daisys','dandelions','roses','sunflowers','tulips']].as_matrix()
    result = a.argmax()
#     print (row['id'])
    ids.append(row['id'])
    rf_pred.append(result)
    
sub_nas = pd.DataFrame({'id': ids, 'flower_class': rf_pred})

d:\Anaconda3\envs\tensorflow-gpu-3.7\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [21]:
 sub_nas.groupby("flower_class").size()

flower_class
0    370
1    473
2    351
3    345
4    461
dtype: int64