In [ ]:
String Processing

In [ ]:
# 定義字串

In [57]:
x = "abc"         # 可用雙引號定義
x = 'abc'         # 也可用單引號定義
x = """           # 可用三重引號跨行定義字串
abc
xyz
"""

print(x)

           # 可用三重引號跨行定義字串
abc
xyz

In [58]:
x

'           # 可用三重引號跨行定義字串\nabc\nxyz\n'

In [ ]:
# 產生字串

In [9]:
pi=3.14
x ="*2"
str(pi)
print("The value of pi is " + str(pi)+str(x))

The value of pi is 3.14*2

In [ ]:
字串格式化:大小寫轉換

In [19]:
fox = "bHkloY"
print(fox.upper()  )     #全部字元轉成大寫
print(fox.lower()  )     #全部字元轉成小寫
print(fox.title()    )   #首字轉成大寫
print(fox.capitalize() )   #每個字詞的首字轉成大寫
print(fox.swapcase() )  #將大小寫顛倒

BHKLOY
bhkloy
Bhkloy
Bhkloy
BhKLOy

In [ ]:
字串格式化:新增和刪除空格

In [20]:
line="      adf     "  
line.strip()       #刪除前後的空格
line.rstrip()      #刪除右邊的空格
line.lstrip()      #刪除左邊的空格
     
num="00000345"
num.strip("0")     #刪除特定字元
     
line = "this is the content"
line.center(30)      #產生一定數量的空格，並中心對齊一個給定的字串
line.ljust(30)       #產生一定長度的空格並左對齊
line.rjust(30)       #產生一定長度的空格並右對齊
"345".rjust(10,"0")  #能以任意字元填充空格
"345".zfill(10)      #在左邊填充一定數量的0

'0000000345'

In [ ]:
查詢字串

In [54]:
line = 'the quick brown fox jumped over a lazy dog'
print(line.find('fox') )     #查詢子字串在字串中出現的索引，若搜尋不到子字串，會回傳-1
print(line.index('fox') )    #查詢子字串在字串中出現的索引，若搜尋不到子字串，會回傳ValueError
print(line.rfind('fox')  )   #從尾部往前查詢子字串在字串中出現的索引
    
print(line.endswith('dog') )         #檢查字串尾部的子字串
print(line.startswith('fox') )      #檢查字串頭部的子字串

16
16
16
True
False

In [ ]:
# 替換字串

In [23]:
line.replace('brown','red')  #以第2個參數替換子字串

'the quick red fox jumped over a lazy dog'

In [ ]:
拆分和分割字串

In [59]:
line.partition('fox')
#partition()會回傳3個tuple，分別是:目標子字串之前的子字串、目標子字串、目標子字串之後的子字串

('the quick brown ', 'fox', ' jumped over a lazy dog')

In [60]:
line.rpartition('fox') #rpartition()從右向左搜尋字串

('the quick brown ', 'fox', ' jumped over a lazy dog')

In [61]:
line.split()           #split()預設以空白作為分割依據，回傳所有單字

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [65]:
haiku = """matsushima-ya
aah matsushima-ya
matsushima-ya"""
   
haiku.splitlines()      #splitlines()對換行符號進行分割

['matsushima-ya', 'aah matsushima-ya', 'matsushima-ya']

In [64]:
'--'.join(['1', '2', '3'])

'1--2--3'

In [66]:
#撤銷split()的結果，用分割依據再組成一個字串
print("\n".join([haiku.splitlines()[0] , haiku.splitlines()[1],    #常見的用法是用換行符號還原成原字串
haiku.splitlines()[2]]))

matsushima-ya
aah matsushima-ya
matsushima-ya

In [48]:
a = """商品編號：p090415882600
店家貨號：72USGE0009
購買人次：0
銷售件數：0"""
a.splitlines()

['商品編號：p090415882600', '店家貨號：72USGE0009', '購買人次：0', '銷售件數：0']

In [ ]:
str.split()

In [ ]:
str.split(str="", num=string.count(str))

str-分隔符，默認為所有的空字符，包括空格，換行（\ n），製表符（\ t）等。
num-分割次數。默認為-1，即分隔所有。

In [ ]:
line = 'a+b+c+d'
line.split('+')

In [ ]:
# [-1]然後，該索引在position列出-1。這樣做將返回最後一項
['a', 'b', 'c', 'd'][-1]

In [26]:
#strcmp(sStr1,sStr2)
sStr1 = 'strchr'
sStr2 = 'strch'
print(cmp(sStr1,sStr2))

NameError: name 'cmp' is not defined

In [ ]:
格式化字串

In [ ]:
pi=3.14
"The value of pi is {}".format(pi)      #以{}代表將要插入字串格式化後的值
"""First letter: {0}. Last letter: {1}.""" .format('A', 'Z')
#{}中設定數字代表要插入的參數的索引
"""First letter: {first}. Last letter: {last}.""" .format(last='Z', first='A')
#若{}中包括了一個字串，則可以名稱指定要插入的值
"pi = {0:.3f}".format(pi)
#數字的插入，0代表要插入的參數的索引，:代表後面要跟著格式化的程式碼，.3f代表需要的精度資訊，小數點後保留3位小數的浮點數

# 字串格式化

在 Python 中若要以特定的格式來輸出文字或數值，可以使用透過各種字串的格式化方法來處理，而 Python 字串格式化的方法有兩種，一種是類似 C 語言 printf 的語法，另外一種是後來發展的 format 語法，兩種都可以使用，以下是各種格式化的使用方式。

## 基本字串格式化

基本的字串格式化方法是使用 % 運算子，前面放置輸出的文字樣板，後面放置要安插的資料：

In [2]:
# 字串格式化
msg = 'Hello, %s!' % 'World'
print(msg)

Hello, World!

文字樣板的語法就跟 C 語言的 printf 樣板類似，以下是常見的幾種格式：

In [ ]:
%s：以 str() 函數輸出文字。
%f：以浮點數方式輸出數值。
%d：以十進位整數方式輸出數值。
%e、%E：以科學記號輸出數值。
%o：以八進位整數方式輸出數值。
%x、%X：以十六進位整數方式輸出數值。
%c：以字元方式輸出。
%r：以 repr() 函數輸出文字。
%%：輸出 % 百分比符號。

In [3]:
# 多組文字
msg = '%s, %s!' % ('Hello', 'World')
print(msg)

Hello, World!

In [4]:
# 整數
msg = 'I am %d years old.' % 5
print(msg)

I am 5 years old.

In [5]:
# 文字與整數
msg = '%s is %d years old.' % ("James", 5)
print(msg)

James is 5 years old.

除了類似 C 語言 printf 的用法之外，亦可使用新的 format 語法：

In [6]:
# 字串格式化
msg = '{}, {}!'.format('Hello', 'World')
print(msg)

Hello, World!

新的 format 語法可以在大括號中指定安插的參數，例如：

In [7]:
# 改變參數順序
msg = '{1}, {0}!'.format('Hello', 'World')
print(msg)

World, Hello!

在一般的狀況下，format 會自動處理各種類型的資料，不用像 C 語言的 printf 一樣個別指定樣板，統一使用 {} 即可：

In [8]:
# 文字與整數
msg = '{} is {} years old.'.format("James", 5)
print(msg)

James is 5 years old.

In [9]:
# 明確指定資料類型
msg = '{:s} is {:d} years old.'.format("James", 5)
print(msg)

James is 5 years old.

## 空間與對齊

有時候在輸出資料時，為了要讓文字排版整齊，會固定資料輸出的寬度。只要在樣板上加上數字，即可指定輸出的寬度：

In [10]:
# 指定寬度
msg = '(%10s)' % 'Hello'
print(msg)

(     Hello)

In [11]:
# 靠左對齊(加上負號)
msg = '(%-10s)' % 'Hello'
print(msg)

(Hello     )

In [12]:
# 指定浮點數位數(總寬度.小數位數)
msg = '(%8.3f)' % 12.3456
print(msg)

(  12.346)

In [14]:
# 文字長度上限(數字前方加上一個點)
msg = '(%.3s)' % 'Hello'
print(msg)

(Hel)

以下是用新的 format 語法改寫的結果：

In [15]:
# 指定寬度
msg = '({:10})'.format('Hello')
print(msg)

(Hello     )

In [16]:
# 靠右對齊
msg = '({:>10})'.format('Hello')
print(msg)

(     Hello)

In [17]:
# 靠左對齊
msg = '({:<10})'.format('Hello')
print(msg)

(Hello     )

In [18]:
# 置中對齊
msg = '({:^10})'.format('Hello')
print(msg)

(  Hello   )

In [19]:
# 指定浮點數位數
msg = '({:8.3f})'.format(12.3456)
print(msg)

(  12.346)

In [20]:
# 文字長度上限
msg = '({:.3})'.format('Hello')
print(msg)

(Hel)

## 數值格式

In [21]:
# 空白補 0(若要讓數值前方的空白以 0 填補，可以在指定寬度時加上一個 0)
msg = '%06.2f' % 3.14159
print(msg)

003.14

In [22]:
# 加上正負號
msg = '%+4.2f, %+4.2f' % (3.14, -3.14)
print(msg)

+3.14, -3.14

In [23]:
# 負數加負號，正數留空白
msg = '(% d), (% d)' % (3, -3)
print(msg)

( 3), (-3)

以下是 format 的寫法：

In [24]:
# 空白補 0
msg = '{:06.2f}'.format(3.14159)
print(msg)

003.14

In [25]:
# 加上正負號
msg = '{:+4.2f}, {:+4.2f}'.format(3.14, -3.14)
print(msg)

+3.14, -3.14

In [26]:
# 負數加負號，正數留空白
msg = '({: d}), ({: d})'.format(3, -3)
print(msg)

( 3), (-3)

## 字典與具名餐數

In [28]:
# 使用字典
data = {'first': 'Hello', 'last': 'World'}
msg = '%(first)s, %(last)s!' % data
print(msg)

Hello, World!

以下是 format 的寫法：

In [29]:
# 使用字典
data = {'first': 'Hello', 'last': 'World'}
msg = '{first}, {last}!'.format(**data)
print(msg)

Hello, World!

format 亦可使用具名參數的方式指定：

In [30]:
# 使用具名參數
msg = '{first}, {last}!'.format(first = 'Hello', last = 'World')
print(msg)

Hello, World!

## 日期與時間

format 亦可接受 datetime 物件，依照指定的樣板輸出日期與時間：

In [33]:
# 輸出日期與時間
from datetime import datetime
msg = '{:%Y-%m-%d %H:%M}'.format(datetime.today())
print(msg)

2020-02-21 16:13

## 動態格式

In [34]:
# 動態格式
msg = '%.*s = %.*f' % (3, 'Gibberish', 3, 2.7182)
print(msg)

Gib = 2.718

In [35]:
# 動態格式
msg = '{:.{prec}} = {:.{prec}f}'.format('Gibberish', 2.7182, prec=3)
print(msg)

Gib = 2.718

## 其他format例子

In [ ]:
x = 1234.56789

In [17]:
# Two decimal places of accuracy
format(x, '0.2f') #無空格，小數保留2位
'1234.57'

'1234.57'

In [22]:
# Right justified in 10 chars, one-digit accuracy
format(x, '>10.1f') #數字輸出靠右，總計長度為10，小數保留1位
'    1234.6'

'    1234.6'

In [21]:
# Left justified
format(x, '<10.1f') #數字輸出靠左，總計長度為10，小數保留1位
'1234.6    '

'1234.6    '

In [20]:
# Centered
format(x, '^10.1f') #數字輸出靠中，小數保留2位
'  1234.6  '

'  1234.6  '

In [19]:
# Inclusion of thousands separator
format(x, ',') #指定逗號位數字的千分位分隔符
'1,234.56789'

'1,234.56789'

In [18]:
format(x, '0,.1f') #無佔位輸出，用逗號作為分隔符，保留1位小數
'1,234.6'

'1,234.6'

In [1]:
a="{:,}".format(12345678) 
print(a)

12,345,678

In [2]:
import re  
a = '20003'  
result = re.sub(r"(?<=\d)(?=(?:\d\d\d)+$)", ",", a)  
print(result)

20,003

# Pandas設置數字格式，整數、小數位數、百分號、千位分隔符

In [1]:
import pymysql
import pandas as pd
import numpy as np

#資料載入
conn = pymysql.connect("localhost", "root", "zx8212290", "genius_data", charset="utf8")
sql = "SELECT * FROM 歷史數據"
df = pd.read_sql(sql, conn)
df.head(10)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Date G/L,Year,Month,Exchange Rate,Foreign Unit Price,Foreign Extended Price,Foreign Extended Cost,Foreign Ext# Margin,Quantity Shipped,Description
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,4.9,490.0,366.20,123.80,100.0,OBM
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,4.9,490.0,366.31,123.69,100.0,OBM
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,4.9,490.0,366.18,123.82,100.0,OBM
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Mouse,Wireless Mouse,...,2019-04-07,2019,4,30.765,3.9,19500.0,14171.00,5329.00,5000.0,OBM
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Headset,Headset,...,2019-04-07,2019,4,30.765,2.1,2100.0,1470.00,630.00,1000.0,OBM
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Headset,Headset,...,2019-04-07,2019,4,30.765,15.5,1550.0,647.59,902.41,100.0,OBM
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Headset,Headset,...,2019-04-07,2019,4,30.765,15.5,1550.0,647.59,902.41,100.0,OBM
7,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Speaker,2.0 Speaker,...,2019-04-07,2019,4,30.765,4.3,6020.0,3839.08,2180.92,1400.0,OBM
8,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Speaker,2.0 Speaker,...,2019-04-07,2019,4,30.765,4.3,1720.0,1101.32,618.68,400.0,OBM
9,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,GENIUS COMPUTER TECHNOLOGY LTD,Speaker,2.0 Speaker,...,2019-04-07,2019,4,30.765,4.0,2400.0,1759.02,640.98,600.0,OBM

### 整數

In [2]:
df['Quantity Shipped'].astype(int)

0           100
1           100
2           100
3          5000
4          1000
          ...
671303     5000
671304    10216
671305    14000
671306    10000
671307    10000
Name: Quantity Shipped, Length: 671308, dtype: int32

### 小數位數，四捨五入
使用自定義函数可以做保留小數位數。<br>
但是經過自定義函数處理過後的數據已經不再是float。如需後續計算的話需要先做變換。

In [62]:
df['Quantity Shipped'].map(lambda x:('%.1f')%x)

0           100.0
1           100.0
2           100.0
3          5000.0
4          1000.0
           ...
671303     5000.0
671304    10216.0
671305    14000.0
671306    10000.0
671307    10000.0
Name: Quantity Shipped, Length: 671308, dtype: object

### 百分比
這裡利用自定義函数將每個數字進行format格式處理，處理後數據從float格式轉換成了帶2位小數和百分號的對象。

In [47]:
df['Quantity Shipped'].map(lambda x:format(x,'.2%'))

0           10000.00%
1           10000.00%
2           10000.00%
3          500000.00%
4          100000.00%
             ...
671303     500000.00%
671304    1021600.00%
671305    1400000.00%
671306    1000000.00%
671307    1000000.00%
Name: Quantity Shipped, Length: 671308, dtype: object

### 千位分隔符
處理後依然是對象格式。設置千位分割符請小心操作，因為對電腦來說，這些已經不再是數字了，而是數字和逗號組成的字符串，要再變成數值型就麻煩了。

In [60]:
#法一
df['Foreign Extended Price'].map(lambda x:format(x,','))

0            490.0
1            490.0
2            490.0
3         19,500.0
4          2,100.0
            ...
671303    19,500.0
671304    36,777.6
671305    27,860.0
671306    19,900.0
671307    46,000.0
Name: Foreign Extended Price, Length: 671308, dtype: object

In [72]:
#法二
df['Foreign Extended Price'].apply("{:,}".format)

0            490.0
1            490.0
2            490.0
3         19,500.0
4          2,100.0
            ...
671303    19,500.0
671304    36,777.6
671305    27,860.0
671306    19,900.0
671307    46,000.0
Name: Foreign Extended Price, Length: 671308, dtype: object

### 整數&千分位

In [6]:
df['Quantity Shipped'].astype(int).map(lambda x:format(x,','))
#df['Quantity Shipped'].astype(int).apply("{:,}".format)
#但type還是object，所以不能用來計算和做圖

0            100
1            100
2            100
3          5,000
4          1,000
           ...
671303     5,000
671304    10,216
671305    14,000
671306    10,000
671307    10,000
Name: Quantity Shipped, Length: 671308, dtype: object