## 591 網路爬蟲

In [2]:
import requests
headers = {
 'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'   
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5', headers = headers)
jd = res.json()

## 使用Pandas 整理資料

In [3]:
import pandas
df = pandas.DataFrame(jd['data']['data'])
df.head()

,addInfo,addition2,addition3,addition4,addr_number_name,address,address_img,address_img_title,alley_name,allfloor,...,storeprice,street_name,streetid,type,unit,updatetime,user_id,vipBorder,vipimg,vipstyle
0,,0,0,1,,忠孝東路三段217巷忠孝復..,忠孝復興站忠孝東路三房兩廳華廈附傢俱,忠孝復興站忠孝東路三房兩廳華廈附傢俱,217巷,7,...,0,忠孝東路三段,25636,1,元/月,1500890064,2153882,vipStyle,,isvip
1,,0,0,1,,復興南路一段市民大..,市民大道微風SOGO忠孝東路,市民大道微風SOGO忠孝東路,,7,...,0,復興南路一段,25660,1,元/月,1500973928,2099380,vipStyle,,isvip
2,,0,0,1,,仁愛路三段123巷仁..,仁愛復興南路忠孝SOGO,仁愛復興南路忠孝SOGO,123巷,7,...,0,仁愛路三段,25616,1,元/月,1500972331,2099380,vipStyle,,isvip
3,,0,0,1,,樂業街2房1廳基隆路二段..,2房1廳基隆路二段六张犁站民生國小遼寧夜,2房1廳基隆路二段六张犁站民生國小遼寧夜,,4,...,0,樂業街,25674,1,元/月,1501133737,2099368,vipStyle,,isvip
4,,0,0,1,,四維路52巷大安捷運300公..,大安捷運300公尺全新飯店裝潢2房1廳,大安捷運300公尺全新飯店裝潢2房1廳,52巷,5,...,0,四維路,25619,1,元/月,1500189761,289326,vipStyle,,isvip

## 使用pandas 清理資料

In [4]:
df = df[['address', 'floor', 'allfloor', 'layout', 'area', 'price','browsenum_all']]
df.head()

            address  floor  allfloor  layout  area   price  browsenum_all
0   忠孝東路三段217巷忠孝復..      3         7  3房2廳2衛  39.0  40,000            780
1       復興南路一段市民大..      4         7  2房1廳1衛  20.0  32,002            324
2      仁愛路三段123巷仁..      5         7  2房1廳1衛  21.0  29,036            602
3    樂業街2房1廳基隆路二段..      2         4  2房1廳1衛  20.0  26,006             53
4  四維路52巷大安捷運300公..      4         5  2房1廳1衛  22.0  34,000           5932

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
address          30 non-null object
floor            30 non-null int64
allfloor         30 non-null int64
layout           30 non-null object
area             30 non-null float64
price            30 non-null object
browsenum_all    30 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

In [6]:
df[['layout_bedroom', 'layout_livingroom', 'layout_bathroom']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [7]:
df['price'] = df['price'].map(lambda e : int(''.join(e.split(','))) )

In [8]:
df.head()

,address,floor,allfloor,layout,area,price,browsenum_all,layout_bedroom,layout_livingroom,layout_bathroom
0,忠孝東路三段217巷忠孝復..,3,7,3房2廳2衛,39.0,40000,780,3,2,2
1,復興南路一段市民大..,4,7,2房1廳1衛,20.0,32002,324,2,1,1
2,仁愛路三段123巷仁..,5,7,2房1廳1衛,21.0,29036,602,2,1,1
3,樂業街2房1廳基隆路二段..,2,4,2房1廳1衛,20.0,26006,53,2,1,1
4,四維路52巷大安捷運300公..,4,5,2房1廳1衛,22.0,34000,5932,2,1,1

## 將資料儲存至Excel

In [9]:
df.to_excel('rent591.xlsx')

## 將資料儲存至SQLite

In [10]:
import sqlite3
with sqlite3.connect('renthouse.sqlite') as db:
    df.to_sql('renthouse591', con=db, if_exists='replace')

ValueError: Table 'renthouse591' already exists.

## 從SQLIte 讀取資料

In [ ]:
import sqlite3
with sqlite3.connect('renthouse.sqlite') as db:
    df2 = pandas.read_sql_query('select address, browsenum_all from renthouse591 limit 3', con = db)
df2.head()

In [ ]:
df